.header
  .header__main
    .header__main__title
      = "Katze"
    .header__main__sub
      .header__main__sub__signin
        = "ログイン"
      .header__main__sub__signup
        = "新規登録"
.main
  .main__post
    .main__post__image
    .main__post__name
  .main__post
    .main__post__image
    .main__post__name
  .main__post
    .main__post__image
    .main__post__name
.footer
  .footer__logo
    = "Copyright Katze 2020"
  
